In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Load the data
data = pd.read_csv('Sales_April_2019.csv')
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [4]:
#remove duplicates
data.drop_duplicates(inplace=True)

In [5]:
#remove null values
data.dropna(inplace=True)
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [7]:
data.shape
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18268 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18268 non-null  object
 1   Product           18268 non-null  object
 2   Quantity Ordered  18268 non-null  object
 3   Price Each        18268 non-null  object
 4   Order Date        18268 non-null  object
 5   Purchase Address  18268 non-null  object
dtypes: object(6)
memory usage: 999.0+ KB

In [18]:
import pandas as pd

# Load the data and skip the first row
data = pd.read_csv('Sales_April_2019.csv', skiprows=1)

# Rename the columns if necessary
data.rename(columns={'Order Date': 'Order_Date'}, inplace=True)  # Replace 'Order_Date' with the actual column name

# Data preprocessing
data['Order_Date'] = pd.to_datetime(data['Order_Date'], format='%m/%d/%y %H:%M')  # Replace 'Order_Date' with the actual column name

# Extract month and year from Order Date
data['Month'] = data['Order_Date'].dt.month
data['Year'] = data['Order_Date'].dt.year

# Filter data for the next month
current_month = data['Month'].max()
current_year = data['Year'].max()

next_month_data = data[(data['Month'] == current_month + 1) & (data['Year'] == current_year)]

# Predict the most popular product for the next month
most_popular_product = next_month_data['Product'].value_counts().idxmax()

print("Predicted most popular product for the next month:", most_popular_product)

KeyError: 'Order_Date'